body {
	margin: 0 auto;
}
.artist-bar {
	background: -webkit-linear-gradient(rgb(60, 60, 60), rgb(0, 0, 0));
  background: -o-linear-gradient(rgb(60, 60, 60), rgb(0, 0, 0));
  background: -moz-linear-gradient(rgb(60, 60, 60), rgb(0, 0, 0));
  background: linear-gradient(rgb(60, 60, 60), rgb(0, 0, 0));
}
.artist-image {
	margin-left: -5%;
	height: 50px;
	background-color: orange;
}
.artist-text {
	color: white;
	font-size: 0.8em;
	line-height: 1;
}
.artist-small-text {
	font-size: 0.5em;
	color: white;
	line-height: 0;
}
.image-box {
	background: url(../img/staples.png);
}
.info-box {
	margin-left: 1%;
	width: 98%;
	border-radius: 10px;
	background-color: rgb(222, 222, 222);
}
.btn-container {
	margin: 0 auto;
	width: 90%;
}
.button {
	border-radius: 12px;
	background: -webkit-linear-gradient(rgb(42, 195, 50), rgb(0, 152, 51));
  background: -o-linear-gradient(rgb(42, 195, 50), rgb(0, 152, 51));
  background: -moz-linear-gradient(rgb(42, 195, 50), rgb(0, 152, 51));
  background: linear-gradient(rgb(42, 195, 50), rgb(0, 152, 51));
}